PORT=5000
MONGO_URI=mongodb://127.0.0.1:27017/billxpress
JWT_SECRET=replace_with_a_long_random_secret
JWT_EXPIRES_IN=30m
REFRESH_TOKEN_EXPIRES_DAYS=90

CLIENT_URL=http://localhost:3000
APP_BASE_URL=http://localhost:5000

BREVO_API_KEY=replace_with_your_brevo_api_key
BREVO_SENDER_EMAIL=no-reply@yourdomain.com
BREVO_SENDER_NAME=Billxpress
EXPO_ACCESS_TOKEN=

ADMIN_SETUP_SECRET=replace_with_admin_setup_secret

POCKETFI_BASE_URL=https://api.pocketfi.ng
POCKETFI_API_KEY=replace_with_your_pocketfi_public_api_key
POCKETFI_SECRET_KEY=replace_with_your_pocketfi_secret_key
POCKETFI_BUSINESS_ID=replace_with_your_pocketfi_business_id
POCKETFI_FUNDING_FEE_FLAT=0
POCKETFI_FUNDING_FEE_PERCENT=1

MONNIFY_BASE_URL=https://api.monnify.com
MONNIFY_API_KEY=replace_with_your_monnify_api_key
MONNIFY_SECRET_KEY=replace_with_your_monnify_secret_key
MONNIFY_CONTRACT_CODE=replace_with_your_monnify_contract_code
MONNIFY_BANK_CODE=
MONNIFY_FUNDING_EXPIRES_MINUTES=15
MONNIFY_MIN_FUNDING_AMOUNT=100
MONNIFY_FUNDING_FEE_FLAT=0
MONNIFY_FUNDING_FEE_PERCENT=1

REFERRAL_MIN_REDEEM_AMOUNT=1000
